body {
    margin: 4px;
    font-family: Arial, sans-serif; 
}

main, section {
    text-align: left;
}

main, section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding: 1rem;
}

#welcome {
    text-align: center;
    padding: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea, button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
#about {
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stacks content vertically */
    align-items: left; /* Centers content horizontally */
    justify-content: flex-start; /* Aligns content towards the top */
    text-align: left; /* Centers text inside each element */
    min-height: 100vh; /* Ensures the section takes full viewport height */
    padding-top: 50px; /* Adds space at the top */
}
#projects {
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stacks content vertically */
    align-items: left; /* Centers content horizontally */
    justify-content: flex-start; /* Aligns content towards the top */
    text-align: left; /* Centers text inside the elements */
    min-height: 100vh; /* Ensures the section takes up the full viewport height */
    padding-top: 50px; /* Adds space at the top */
    color: #333; /* Optional text color */
}



